*{
    box-sizing: border-box;
}

body{
    background-color: black
}

.colorTexto{
    color: #ff4500;
}

.header{
    background-color: rgba(1, 43, 43, 0.7);
    overflow: hidden;
    top: 0;
    height: 100px;
    position: fixed;
    width: 100%;
    z-index: 999;
}

.header li:hover{
    color: #008b8b;
    font-size: 50px
}
h1{
    z-index: 1000;
    text-align: center;
    position: absolute;
    width: 100%;
    color:  #008b8b;
    top: 25px;
    font-size: 60px;
    animation: desplazamiento 1.8s forwards;
}

@keyframes desplazamiento {
  0%   { right: -400px; }
  40%  { right: 60px; }
  55%  { right: 20px; }
  70%  { right: 60px; }
  80%  { right: 35px; }
  90%  { right: 60px; }
  95%  { right: 48px; }
  100% { right: 55px; }
}

.pHeader{
    color:  #008b8b;
    float: right;
    line-height: 5px;
    margin-right: 500px;
    z-index: 1;
    position: absolute;
    top: 130px;
    right: 0;
}

.menuNavegacion ul{
    list-style: none;
    float: right;
    word-spacing: 50px;
    color: #ff4500;
    margin-right: 100px;
}

.menuNavegacion li{
    display: inline;
    font-size: 25px;
}

main{
    width: 80%;
    margin: auto;
    margin-top: 200px;
    position: relative;
}

.section{
    background-color: rgb(1, 43, 43);
}

.divSection2{
    margin-top: 40px;
}

.divSection2 span{
    display: block;
    line-height: 30px;
}

.imagenes{
    text-align: center;
    margin-bottom: 10px;
}

img{
    margin-right: 150px;
}

footer{
    background-color: rgba(1, 43, 43, 0.7);
    width: 100%;
    z-index: 999;
    position: sticky;
    bottom: 0;
}

footer div {
    color: #ff4500;
} 

.divFooter2 p{
    text-align: right;
    margin-right: 240px;
}

form label{
    color: #ff4500;
}

h2{
    margin-left: 45%;
    width: 10%;
    color: #008b8b;
    font-size: 60px;
}

.formulario{
    color: #008b8b;
    font-size: 30px;
}

