h1{
    text-align: center;
}

h3{
    text-align: center;
    color: yellow;
}

.naranja{
    color: yellow;
}
.verde{
    color: forestgreen;
}

dl{
    width: 80%;
    margin: auto;
}

.izquierda{
    width: 38%;
    height: 275.44px;
    float: left;
    border: 4px solid green;
    background-color: lightcoral;
}

.derecha{
    width: 60%;
    float: right;
    border: 4px solid green;
    background-color: lightcoral;
}

.imágen{
    width: 30%;
    margin: auto;
    text-align: center;
    clear: both;
}
.imagen1{
    border: 2px solid green;
    padding: 10px;
}

.párrafo{
    width: 80%;
    margin: auto;
    background-color: bisque;
    border: 2px solid green;
    text-align: justify;
    padding: 10px;
}

.apertura{
    background-color: lightgoldenrodyellow;
}

.contenedorImagen2{
    width: 100%;
    clear: both;
    text-align: center;
}

.imagen2{
    text-align: center;
}
