table{
    width: 2%;
    border: 4px double darkblue;
    margin: auto;
}

th{
    color: lightblue;
    text-align: center;
    background-color: yellow;
}

td{
    color: lightgreen;
    text-align: right;
}