header{
    background-color: lightgray;
    height: 150px;
}

#seccionNoticiPPal{
    background-color: lightgreen;
    height: 300px;
    width: 70%;
    margin: auto;
}

#seccionSecPrimera{
    background-color: lightslategray;
    height: 300px;
    width: 70%;
    margin: auto;
}

#seccionSecSegunda{
    background-color: lightpink;
    height: 300px;
    width: 70%;
    margin: auto;
}

#lateralMenu{
    background-color: lightseagreen;
    width: 15%;
    height: 600px;
    position: fixed;
}

#lateralPubli{
    background-color: lightseagreen;
    width: 15%;
    height: 600px;
    position: fixed;
    top: 158px;
    left: 1605px;
}

.h1Header{
    height: 50px;
    width: 50px;
    display: inline;
    margin-left: 300px;
    margin-right: 500px;
}

.imagenLogo{
    margin-top: 50px;
}

.imagenSesion{
    height: 50px;
    width: 50px;

}