body {
    width: 70%;
    margin: 0 auto;
}

#menuPrincipal {
    height: 50px;
    background-color: #B2D6FF;
}

#barraLateral {
    width: 20%;
    height: 180px;
    background-color: #F09A9D;
    float: left;
}

#contenidoPrincipal {
    height: 300px;
    background-color: #F5CF8E;
    width: 70%;
    float: left;

}

#piePagina {
    height: 120px;
    background-color: #D6E9FE;
    width: 100%;
    clear: both;
}